#encabezadoAlumno{
  height: 100px;
  display: flex;
}

#fotoAlumno{
  margin-top: 10px;
  margin-left: 20px;
}
#datosalumno{
  margin-top: 10px;
  list-style-type: none;
  width: 30%;
}

#nota{
  margin-left: 20px;
  display: flex;
  height: 40px;
  width: 200px;
  background-color: burlywood;
  margin-top: 20px;
}

#notaMedia{
  margin-left: 10px;
}

#numeroNota{
  margin-left: 20px;
  font-size: 30px;
  padding: 0;
  margin-top: -25px;
}


.asigGrado{
  margin-top: 10px;
}

#cajasecundariaalumnos{
  display: flex;
}
#matricularse{
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 25%;
  background-color: burlywood;
}

#tituloGrado, #tituloMatricularse{
  margin-left: 20px;
}

#botonmatricularse {
  margin-right: 20px;
  margin-top: 5%;
  float: left;
}

#nombreGrado{
  width: 65%;
  margin: 50px;
  background-color: burlywood;
}
