#principal{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#asignatura{
  margin-left: 10%;
  width: auto;
}

#nombreCodigo{
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
#tituloAsignatura{
  margin-left: 2%;
}

#codigoAsignatura{
  margin-left: 30px;
}
#datosasignatura, #datosprofesores{
  background-color: burlywood;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-right: 50px;
}

#profesorado{
  float: right;
  margin-right: 150px;
  width: auto;
}

.datos{
  list-style-type: none;
  margin-top: 20px;
}

.objetivo{
  margin-top: 20px;
}

.profesor{
  list-style-type: none;
  margin-top: 20px;
}

#tituloprofesor{
  margin-left: 30px;
  margin-bottom: 40px;
}

#objetivos{
  margin: 70px;
}

#objetivosconjuntos{
  background-color: burlywood;
  padding-top: 20px;
  padding-bottom: 40px;
}
