#titulogrados{
  margin-left: 50px;
}

.listaGrados, .listaAsignaturas{
  list-style-type: none;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 20px;
  height: auto;
  display: flex;
  background-color: #a4fadb;
  padding-bottom: 20px;
}

.fotoGrado, .fotoAsignatura{
  margin-top: 30px;
}

.cajaInfoGrados, .cajaInfoAsignaturas{
  margin-left: 40px;
}
