#login{
  height: 200px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #a4fadb;
}
#titulologin, #tituloregistrarse{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#tituloregistrarse{
  margin-top: 50px;
}

.input{
  display: flex;
  align-items: center;
  width: 300px;
  list-style-type: none;
  margin-left: 20%;
}

.fichero{
  flex-basis: 50% ;
  text-align: right;
  margin-right: 10px;
}

.formulario{
  flex-basis: 50%;
}


#botonLogin, #botonRegistro{
  margin-left: 20%;
  margin-right: 30%;
  text-align: center;
  float: right;
}

#registro{
  height: 550px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  background-color: #a4fadb;
}



