#login{
  height: 200px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #a4fadb;
}
#titulologin, #tituloregistrarse{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#cajalogin{

}

#tituloregistrarse{
  margin-top: 50px;
}

.input{
  display: flex;
  align-items: center;
  margin-right: 20%;
  margin-left: 20%;
  list-style-type: none;
  padding-right: 20px;
  padding-left: 150px;
}

.dni, .fichero, .contraseña{
  margin-right: 20px;
}

.formulario{
  margin-right: 5%;
}


#botonLogin, #botonRegistro{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  float: right;
}

#registro{
  height: 500px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #a4fadb;
}



