#login{
  margin-left: 20%;
  margin-right: 20%;
  background-color: #a4fadb;
}
#titulologin, #tituloregistrarse{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#tituloregistrarse{
  margin-top: 50px;
}


.fichero{
  flex-basis: 50% ;
  text-align: right;
  margin-right: 10px;
}

.formulario{
  width: 150px;
  height: 15px;
  margin-top: 20px;
}


#botonLogin, #botonRegistro{
  margin-top: 40px;
  width: 150px;
}

#registro{
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  background-color: #a4fadb;
  padding-bottom: 20px;
}


#login{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  text-align: center;
  height: auto;
}

#caja_registro, #caja_login{
  margin-left: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
