@media screen and (min-width:640px) and (max-width:900px){
.listaGrados, .listaAsignaturas{
  solid-color: black;
}

  .descripcion{
    margin-right: 20px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 40em){

}
