@media screen and (min-width:640px) and (max-width:900px){
  #profesorado{
    margin-right: 0px;
    margin-left: 20px;
  }
  #asignatura{
    margin-left: 0px;
  }
}

@media screen and (max-width: 40em){
  #principal {
    display: flex;
    flex-direction: column;
  }

  #asignatura {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #nombreCodigo {
    padding-left: 0%;
  }

  #profesorado {
    width: 70%;
    margin-left: 15%;
  }

  #tituloprofesor {
    margin-left: 0%;
    margin-bottom: 5%;
  }

  #objetivos {
    width: 90%;
    margin: 5%;
  }
}
